.App {
  text-align: center;
  margin:20px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.puppies{
  display: flex;
  justify-content: space-around;
  background-image: url('/public/home_dogs.jpg');
  background-position:top;
  background-size: cover;
  height: 40vh;
  width: '100%';
  background-repeat: no-repeat;
  border-radius: 20px;
  background-color: #0f667e;
  padding: 20px;
  }

  .comboBox{
    margin: 20px;
    display: flex;
    justify-content: space-around;
  }

  .dogGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }


.App-header {
  background-color: #259c9c;
  max-height: 120vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.App-link {
  color: #61dafb;
}

